body {
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

label, .submit {
  font-size: 20px;
  margin: 0 20px;
  font-weight: bold;
}

/* .submit {
  font-size: 20px;
  margin: 20px;
  font-weight: bold;
} */

select {
  margin: 20px;
  width: 100%;
  font-size: 15px;
}

.selectHolder {
  display: flex;
  padding-bottom: 10px;
}

.block {
  width: 50%;
  display: inline-block;
}

h1, h2 {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

table {
  width: 100%;
  margin: 20px;
}

#row0 {
  font-weight: bold;
}

td {
  width: 33%;
  padding: 5px 0;
}
